<script lang="ts">
  import { Component, Format, resolveHash } from "$lib/hash";
  const goal: [Component, number][] = [
    [Component.Lower, 2],
    [Component.Upper, 2],
    [Component.Digit, 2],
    [Component.Other, 2],
  ];
  let secret_input = $state<HTMLInputElement | void>();
  let visible_button = $state<HTMLButtonElement | void>();
  let platform = $state("");
  let secret = $state("");
  let visible = $state(false);
  let seed = $derived(secret + platform);
  let result = $derived({
    rune8: resolveHash(seed, Format.Rune8, goal),
    base64: resolveHash(seed, Format.Char6, goal),
    hex: resolveHash(seed, Format.Char4, goal),
  });
  function copy(hash: string) {
    navigator.clipboard.writeText(hash);
  }
  function clear() {
    platform = "";
    secret = "";
    navigator.clipboard.writeText("");
  }
  async function refresh() {
    if (!navigator.onLine) return;
    const reg = await navigator.serviceWorker.getRegistration();
    const interaction_at = Date.now();
    await reg?.unregister();
    const elapsed = Date.now() - interaction_at;
    setTimeout(() => location.reload(), Math.max(0, 200 - elapsed));
  }
  function remainVisible() {
    if (!visible) return false;
    if (!document.activeElement) return false;
    const elements: (Element | void)[] = [secret_input, visible_button];
    return elements.includes(document.activeElement);
  }
  function cleanupVisible() {
    setTimeout(() => (visible = remainVisible()));
  }
</script>

<main>
  <header>
    <button aria-label="refresh" onclick={refresh}>
      <svg width="64" height="64" viewBox="0 0 135.467 135.467">
        <path
          fill="#fff"
          d="M56.714 29.513v24.831l-23.62-7.67a4.065 4.065 0 0 0-5.113 2.606l-4.296 13.223a4.057 4.057 0 0 0 2.608 5.113l23.616 7.67-14.598 20.099a4.065 4.065 0 0 0 .9 5.67l11.256 8.18a4.057 4.057 0 0 0 5.667-.896l14.597-20.084 14.595 20.084a4.057 4.057 0 0 0 5.668.894l11.249-8.18a4.065 4.065 0 0 0 .9-5.67L85.554 75.287l23.62-7.665a4.057 4.057 0 0 0 2.608-5.113l-4.3-13.23a4.057 4.057 0 0 0-5.113-2.606l-23.63 7.685V29.513a4.065 4.065 0 0 0-4.058-4.057H60.773a4.065 4.065 0 0 0-4.059 4.057"
        />
      </svg>
    </button>
  </header>
  <div class="input">
    <input
      bind:value={platform}
      name="platform"
      placeholder="Platform"
      spellcheck={false}
    />
    <div class="symbol lhs">tag</div>
    <button class="symbol" onclick={() => clear()}>close</button>
  </div>
  <div class="input">
    <input
      bind:this={secret_input}
      autocomplete="off"
      bind:value={secret}
      placeholder="Secret"
      onblur={cleanupVisible}
      type={secret && !visible ? "password" : "text"}
    />
    <div class="symbol lhs">key</div>
    <button
      bind:this={visible_button}
      class="symbol"
      onblur={cleanupVisible}
      onclick={() => (visible = !visible)}
    >
      {visible ? "visibility_off" : "visibility"}
    </button>
  </div>
  <div class="results">
    <button onclick={() => copy(result.rune8)}>
      <div class="hash">{result.rune8.repeat(10)}</div>
      <div class="name">RUNE8</div>
    </button>
    <button onclick={() => copy(result.base64)}>
      <div class="hash">{result.base64.repeat(10)}</div>
      <div class="name">BASE64</div>
    </button>
    <button onclick={() => copy(result.hex)}>
      <div class="hash">{result.hex.repeat(10)}</div>
      <div class="name">HEX</div>
    </button>
  </div>
</main>

<style>
  main {
    height: 100%;
    max-width: 420px;
    margin: auto;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
  }
  header {
    display: flex;
    margin-bottom: 8px;
    button {
      border-radius: 20px;
      path {
        fill: var(--foreground);
      }
    }
    @media (min-width: 767px) {
      justify-content: center;
    }
  }
  .input {
    display: flex;
    height: 40px;
    grid-gap: 12px;
    .lhs {
      pointer-events: none;
      color: #888;
      background: none;
      position: absolute;
      left: 4px;
      top: 0;
      bottom: 0;
    }
    input {
      border-radius: 20px;
      padding: 0 16px 0 44px;
      background: var(--midground);
      flex: 1;
    }
  }
  .results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-top: 8px;
    button {
      min-width: 0;
      overflow: hidden;
      padding-bottom: 100%;
      background: var(--lowground);
      border-radius: 20px;
      .name {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
      }
      .hash {
        position: absolute;
        top: 0;
        left: -4ch;
        right: -4ch;
        bottom: 0;
        font-size: 12px;
        font-family: monospace;
        word-break: break-all;
        text-align: left;
        opacity: 0.2;
      }
    }
  }
  .symbol {
    border-radius: 20px;
    background: var(--midground);
    font-family: Symbol;
    font-size: 24px;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  input,
  button {
    transition:
      100ms background,
      100ms color,
      100ms transform;
  }
  input:focus,
  button:focus {
    background: var(--foreground);
    color: var(--background);
    path {
      fill: var(--background);
    }
  }
  button:active {
    transform: scale(0.8);
  }
</style>
