@font-face {
  font-family: Symbol;
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url(/fonts/symbol.woff2) format(woff2);
}

.symbol {
  display: inline-block;
  font-family: Symbol;
  line-height: 1;
  user-select: none;
}
