:root {
  --background: #000;
  --foreground: #fff;
  --lowground: #111;
  --midground: #222;
  @media (prefers-color-scheme: light) {
    --background: #fff;
    --foreground: #000;
    --lowground: #e8e8e8;
    --midground: #ddd;
  }
  font-family: "Open Sans", system-ui, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

* {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  background: none;
  border: none;
  box-sizing: border-box;
  color: inherit;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  user-select: none;
}

body {
  overscroll-behavior: contain;
}

input,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

#app {
  height: 100dvh;
  padding-bottom: var(--keyboard-height, 0);
}
